@use './partials/variables' as *;

// Generics
body {
    font-family: $font;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Icons
.fa-facebook-f {
    color: $blue-facebook;
}

.fa-twitter {
    color: $blue-twitter;
}

.fa-linkedin-in {
    color: $blue-linkedin;
}

.fa-google-plus-g {
    color: $orange;
}

.fa-pinterest {
    color: $red;
}