@use './partials/variables' as *;

body {
    font-family: $font;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fa-facebook-f {
    color: #37538F;
}

.fa-twitter {
    color: #00ACEE;
}

.fa-linkedin-in {
    color: #0D72A2;
}

.fa-google-plus-g {
    color: #DB4A39;
}

.fa-pinterest {
    color: #7D1A23;
}