$font: "Roboto", sans-serif;

$dark-blue: #060F19;
$light-blue: #182028;
$primary: #2CA6A4;
$white: #fff;
$black: #000;
$dark-grey: #121212;
$blue-linkedin: #0D72A2;
$orange: #DB4A39;
$blue-facebook: #37538F;
$blue-twitter: #00ACEE;
$red: #7D1A23;
